.myDiv {
    margin-top: 1cm;
    margin-left: 2cm;
    margin-right: 18cm;
    border: 3px outset rgb(233, 239, 248);
    background: rgb(48,22,65);
background: linear-gradient(85deg, rgba(48,22,65,1) 0%, rgba(2,10,40,1) 50%, rgba(24,21,87,1) 100%);
text-align: justify;
    border-radius: 2cap;
    .heading {
        margin-left: 0.9cm;
        color: white;
        text-align: justify;

    }
    .ok{
        margin-left: 1.4cm;
        color: rgb(63, 51, 233);
        text-align: justify;

    }
    .some{
        margin-left: 1.4cm;
        margin-top: 0.5cm;
        color: white;
        text-align: justify;

    }
  }

body {
    background: rgb(48,22,65);
background: linear-gradient(85deg, rgba(48,22,65,1) 0%, rgba(2,10,40,1) 50%, rgba(24,21,87,1) 100%);
}